
body, html, section {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.wrapper {
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
}

.wrapper a {
	font-size: 13px;
	color: white;
}

.wrapper li {
	padding-bottom: 24px;
}

h1, h2, h3, h4 {
	font-family: Roboto, Helvetica Neue, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;

	color: #1D1D1D;
}

.copyright {
	padding-top: 8px;
	font-size: 11px;
	color: white;
}

h1 {
	line-height: 34px;
	font-size: 22px;
	margin: 0 0 16px 0;
}

hr {
	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.4;
	margin: 40px 0 32px 0;
}

header { 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 72px;
	left: 0px;
	top: 0px;
	background: #ffffff;
	box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

header .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

header .logo {
	display: flex;
	justify-content: space-between;
	background: url(../img/logo.svg) no-repeat;
	width: 121px;
	height: 13px;
}

.right {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.right a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #1D1D1D;
	margin-right: 16px;
	width: 78px;
	height: 38px;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	font-size: 13px;
	font-weight: 500;
}

.right button {
	border: none;
	background: url(../img/basket.svg) no-repeat center;
	height: 24px;
	width: 24px;
}

.citySearch {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.citySearch p {
	font-size: 16px;
	color: #626262;
	font-weight: 300;
	margin: 14px 8px;
}

.citySearch input {
	background: url(../img/location.svg) no-repeat 12px 10px;
	padding: 0 48px 0 36px;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	font-size: 16px;
	height: 38px;
}

.citySearch button {
	background: #fff;
	width: 78px;
	height: 40px;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	font-size: 16px;
}

section h1 {
	width: 100%;
}

.Search {
	padding: 40px 0;
}

.Search input{
	box-sizing: border-box;
	width: 100%;
	border: none;
	background: url(../img/search.svg) no-repeat 0px 12px;
	padding: 16px 0 16px 32px;
	border-bottom: 1px solid rgba(117, 117, 177, 0.3);
}

.card {
	margin-bottom: 16px;
}

.card img {
	width: 100%;
	margin-bottom: 16px;
}

.card h2 {
	line-height: 24px;
	font-size: 16px;
	margin: 0;
}

.card h3 {
	line-height: 21px;
	font-size: 14px;
	margin: 4px 0;
	
	color: #626262;
}

.card h4 {
	line-height: 21px;
	font-size: 13px;
	margin: 0 0 20px 0;
}

footer {
	width: 100%;
	height: 500px;
	background: #262626;
	margin-top: 80px;
	padding-bottom: 64px;
}

.footerLogo {
	background: url(../img/footerLogo.svg) no-repeat;
	width: 192px;
	height: 20px;
	margin-top: 56px;
}

.language {
	color: white;
	font-size: 13px;
	text-transform: uppercase;
	width: 228px;
	height: 40px;
	padding-left: 48px;
	background: url(../img/arrow.svg) no-repeat 96% center;
	border: none;
	overflow: hidden;
}

.black {
	background-color: #3B3B3B;
}

.social {
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
}

.up {
	position: fixed;
	width: 80px;
	height: 80px;
	right: 16px;
	bottom: 24px;
	border: none;
	background: url(../img/btn-up.svg) no-repeat;
}

@media screen and (max-width: 576px) {
	.citySearch {
		display: none;
	}
}
